*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 2rem 2rem;
}


.light{
    border-radius: 50%;
    background-color: black;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    transition: ease-in-out 0.5s;
}

.on{
  background-color: red;
}